* {
  font-family: 'Roboto', sans-serif;
}

input[type='text'],
input[type='datetime-local'],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonSave,
.buttonCancel {
  border-radius: 3px;
  background-color: #008cba;
  color: white;
  padding: 10px;
}

.buttonSave:disabled {
  opacity: 0.5;
}

.course-list {
  max-width: 740px;
  margin: 0 auto;
}

.course-list-item {
  display: flex;
  justify-content: space-between;
  background-color: seashell;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 8px;
}
.course-list-item .course-controls {
  position: relative;
}
.course-list-item .controlsWrap {
  position: absolute;
  top: 25px;
  left: 0;
  padding: 5px;
  background: cornsilk;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
  z-index: 3;
}

.course-list-item .controlsWrap img {
  display: inline-block;
  width: 10px;
  height: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 7px;
  padding: 0;
  /* background-color: #33b5e5;
  color: #ffffff; */
}

.course-date {
  width: 140px;
}
.course-title {
  width: 200px;
  font-weight: bold;
}
.course-description {
  width: 200px;
}
.course-duration {
  width: 100px;
}
.course-controls {
  width: 65px;
}
