$fontFamilySource: "Source Sans Pro", sans-serif;
$fontFamilyHind: "Hind", sans-serif;
$fontFamilyFresca: "Fresca", sans-serif;

$bodyBackground: #fff;
$bodyColor: #2c2f3c;
$bodyFontFamily: $fontFamilySource;
$logoFontFamily: $fontFamilySource;
$logoTextMargin: -9px 0 0 0;
$logoTextDescrFontWeight: normal;
$headerLogoColor: $bodyColor;
$headerBackgroundImage: url("../img/m-h-day.jpg");
$buttonBackgroundColor: #699900;
$buttonColor: #fff;
$buttonFontSize: 17px;
$buttonFontFamily: $fontFamilySource;
$headerTextFontFamily: $fontFamilySource;
$headerTextFontWeight: normal;
$headerTextFontSize: 17px;
$sectionCardBackground: #21232e;
$sectionCardColor: #fff;
$sectionCardLinkColor: #fff;
$sectionCardHeadingFontSize: 22px;
$sectionCardHeadingFontFamily: $fontFamilyHind;
$sectionCardFontFamily: $fontFamilySource;
$sectionCardLetterSpacing: 0;
$banerBackground: linear-gradient(to right, #639314, #2e5cd6);
$sectionBannerFontSize: 16px;
$sectionBannerFontFamily: $fontFamilySource;
$highlitedTextWrapperBackground: #14a0c7;
$footerBackground: #21232e;
$footerColor: #bbb;
$foterFontFamily: $fontFamilySource;
$footerTextFontSize: 15px;
$footerTextLineHeight: 20px;
$footerCopyFontSize: 16px;
