$fontFamilySource: "Source Sans Pro", sans-serif;
$fontFamilyHind: "Hind", sans-serif;
$fontFamilyFresca: "Fresca", sans-serif;

$bodyColor: #fff;
$bodyBackground: #21232e;
$logoFontFamily: $fontFamilyFresca;
$logoTextMargin: -5px 0 0 0;
$logoTextDescrFontWeight: bold;
$buttonBackgroundColor: #e3ac00;
$buttonFontSize: 18px;
$buttonFontFamily: $fontFamilySource;
$headerBackgroundImage: url("../img/m-h-night.jpg");
$highlitedTextWrapperBackground: #ff4e33;
$headerTextFontFamily: $fontFamilyHind;
$headerTextFontWeight: bold;
$headerTextFontSize: 15px;
$sectionCardBackground: #3b3f50;
$sectionCardColor: #ccc;
$sectionCardLinkColor: #ccc;
$sectionCardHeadingFontSize: 24px;
$sectionCardHeadingFontFamily: $fontFamilySource;
$sectionCardFontFamily: $fontFamilyFresca;
$sectionCardLetterSpacing: 0.2px;
$banerBackground: linear-gradient(to right, #dca007, #98354d);
$sectionBannerFontFamily: $fontFamilyFresca;
$footerBackground: #3b3f50;
$footerColor: #ccc;
$foterFontFamily: $fontFamilyFresca;
$footerTextFontSize: 14px;
