* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  background: #fff;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-width: 700px;
  min-height: 500px;
  border-radius: 5%;
  margin: auto;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  background-color: #666;
  border: 1px solid white;
  font-size: 80px;
  color: #fff;
}

.button-wrap {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  #restart,
  #continue {
    display: inline-block;
    padding: 1rem 3rem;
  }
}
