@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
}
.App-header {
  margin: 20px;
  font-weight: bold;
  color: #008cba;
}

.heading {
  display: flex;
}
.heading > input {
  flex: 1 1 auto;
  margin: 20px;
  padding: 10px;
}

.heading > button {
  border-radius: 3px;
  background-color: #008cba;
  color: white;
  padding: 10px;
  margin: 20px;
}
