<router-outlet></router-outlet>
<h1>All Employees</h1>

<button (click)="toggle = employees">All Employees</button>
<button (click)="toggle = units">All Units</button>
<button (click)="toggle = warning">Warning Employees</button>

<div [ngSwitch]="toggle">
  <span *ngSwitchCase="employees" class="allEmployees">All Employees</span>
  <span *ngSwitchCase="units" class="warningEmployees">All Units</span>
  <span *ngSwitchCase="warning" class="warningEmployees"
    >Warning Employees</span
  >
</div>

<ng-template #allEmployees>
  <span class="allEmployees">All Employees</span>
</ng-template>

<ng-template #allUnits>
  <span class="allUnits">All Units</span>
</ng-template>

<ng-template #warningEmployees>
  <span class="warningEmployees">Warning Employees</span>
</ng-template>

<div class="card" *ngFor="let empl of employe">
  <div class="id">id {{ empl.id }}</div>
  <div class="name">
    name: <b>{{ empl.name }}</b>
  </div>
  <div class="performance">performance: {{ empl.performance }}</div>
  <div class="salary">salary: {{ empl.salary }}</div>
  <div class="pool_name">pool_name: {{ empl.pool_name }}</div>
  <!-- 
  "id": 1,
  "rm_id": null,
  "name": "Ange Quittonden",
  "performance": "top",
  "last_vacation_date": "24.04.2018",
  "salary": 1415,
  "pool_name": "Top pool" -->
</div>
