.card {
  width: 250px;
  border: solid 2px #ccc;
  margin: 20px;
  padding: 10px;
  display: inline-block;
  box-shadow: 10px 10px 5px grey;
}

.allEmployees {
  background-color: blueviolet;
}
.allUnits {
  background-color: gold;
}
.warningEmployees {
  background-color: hotpink;
}
