/* Your styles go here */
* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}
.setDetailsForm {
  background: #e2e2e2;
  padding: 20px;
  margin: 20px;
}

.setDetailsForm fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
  overflow: hidden;
}

.setName {
  margin: 0 5px;
}

.saveButton,
.сancelButton {
  float: right;
  padding: 5px 10px;
}

.termsWrapper {
  margin: 10px 0;
}
.termsWrapper label {
  margin: 0 0 5px;
}
.termsItem input[type='text'] {
  margin: 0 5px 0 0;
}

.buttonAddNewTerm {
  padding: 5px 10px;
}

.mainPage {
  padding: 40px 10px 20px;
  margin: 20px 0;
  justify-content: flex-start;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.addNewSet {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 5px 10px;
}
.setBlock {
  background: #e2e2e2;
  padding: 20px;
  margin: 10px;
  width: calc(33% - 20px);
  border-radius: 5px;
}

.setBlock h3 {
  margin: 0 0 10px;
}
.setBlock ul {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}
